@import (reference) "../_base/index.less";

@video-upload-size-base: 4 * @rpx;

@video-upload-margin-size-base: 4 * @rpx;
@video-upload-margin-size-1: @video-upload-margin-size-base * 1;
@video-upload-margin-size-2: @video-upload-margin-size-base * 2;
@video-upload-margin-size-3: @video-upload-margin-size-base * 3;

@video-upload-common-margin: @video-upload-margin-size-2;
@video-upload-add-video-container-margin: @video-upload-margin-size-2;

@video-upload-close-tip-width: @video-upload-size-base * 11;
@video-upload-close-tip-height: @video-upload-size-base * 11;

@video-upload-close-tip-url: 'https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*_Az1QavR4OsAAAAAAAAAAAAAARQnAQ';
@video-upload-play-icon-url: 'https://mdn.alipayobjects.com/huamei_eyzuti/afts/img/A*F2BpToise2sAAAAAAAAAAAAADlPaAQ/original';