@import (reference) "../style/themes/index.less";

@video-upload-size-base: 4 * @rpx;

@video-upload-margin-size-base: 4 * @rpx;
@video-upload-margin-size-1: @video-upload-margin-size-base * 1;
@video-upload-margin-size-2: @video-upload-margin-size-base * 2;
@video-upload-margin-size-3: @video-upload-margin-size-base * 3;

@video-upload-common-margin: @video-upload-margin-size-2;
@video-upload-add-video-container-margin: @video-upload-margin-size-2;

@video-upload-close-tip-width: @video-upload-size-base * 11;
@video-upload-close-tip-height: @video-upload-size-base * 11;

@video-upload-container-height: 160 * @rpx;
@video-upload-container-width: 160 * @rpx;

@video-upload-close-tip-url: 'https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*_Az1QavR4OsAAAAAAAAAAAAAARQnAQ';
@video-upload-play-icon-url: 'https://gw.alipayobjects.com/zos/bmw-prod/e1ff2ec1-4854-417d-aafd-461b328e0f91.svg';