.homePage {
  overflow: hidden;
  background: #fff;

  // a {
  //   text-decoration: none;
  // }

  // .main {
  //   margin: 0 auto;
  //   max-width: 1200px;
  //   min-width: 960px;
  //   padding: 0 48px;
  //   box-sizing: content-box;

  //   .header {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: center;

  //     .headerLeft {
  //       position: relative;
  //       z-index: 1;

  //       .buttons {
  //         margin-top: 20px;
  //       }

  //       .title {
  //         margin: 0;
  //       }

  //       .description {
  //         font-family: PingFangSC-Regular;
  //         font-size: 20px;
  //         color: rgba(0, 0, 0, 0.85);
  //         line-height: 28px;
  //         margin: 20px 0 56px 0;
  //       }

  //       .buttons {
  //         a {
  //           display: inline-block;
  //           font-size: 16px;
  //           padding: 8px 24px;
  //           border-radius: 100px;
  //           border: 1px solid #3978ff;
  //           background-color: #fff;
  //           color: #3978ff;
  //           margin-right: 24px;
  //         }

  //         a:first-child {
  //           background-color: #3978ff;
  //           color: #ffff;
  //         }
  //       }
  //     }

  //     .headerImage {
  //       width: 960px;
  //       transform: translateX(30%);
  //       margin-left: -40%;
  //       position: relative;
  //       z-index: 0;

  //       @media (max-width: 1300px) {
  //         & {
  //           width: 820px;
  //           transform: translateX(30%);
  //           margin-left: -30%;
  //         }
  //       }
  //     }
  //   }

  //   .group {
  //     padding: 32px 0 24px;
  //   }

  //   .groupTitle {
  //     font-family: PingFangSC-Light;
  //     font-size: 24px;
  //     color: #697a8c;
  //     line-height: 32px;
  //     margin-bottom: 48px;
  //   }

  //   ul.features {
  //     display: flex;
  //     justify-content: space-between;

  //     li {
  //       list-style: none;

  //       p:nth-child(1) {
  //         margin: 0 auto;
  //         text-align: center;
  //       }

  //       p:nth-child(2) {
  //         height: 24px;
  //         width: 100%;
  //         font-size: 16px;
  //         color: rgba(0, 0, 0, 0.85);
  //         line-height: 24px;
  //         margin-top: 30px;
  //         text-align: center;
  //       }

  //       p:nth-child(3) {
  //         width: 210px;
  //         font-size: 14px;
  //         color: #697a8c;
  //         text-align: center;
  //         line-height: 24px;
  //       }
  //     }
  //   }

  //   .resourcesCardList {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: stretch;
  //     gap: 48px;

  //     .resourcesCard {
  //       flex: 1;
  //       //width: 547px;
  //       background: #fafcfe;
  //       position: relative;
  //       padding-left: 32px;
  //       padding-right: 24px;
  //       padding-top: 32px;

  //       .development_con_title {
  //         height: 32px;
  //         line-height: 32px;
  //         display: flex;
  //         justify-content: space-between;

  //         span {
  //           font-size: 20px;
  //           color: rgba(0, 0, 0, 0.85);
  //         }

  //         a {
  //           font-size: 14px;
  //           color: #3978ff;
  //         }
  //       }

  //       p:nth-child(2) {
  //         margin-top: 16px;
  //         height: 26px;
  //         font-size: 14px;
  //         color: #697a8c;
  //         line-height: 26px;
  //       }

  //       img {
  //         margin-top: 36px;
  //         display: block;
  //       }

  //       .development_pos {
  //         position: absolute;
  //         top: 0;
  //         right: 0;
  //         z-index: -1;
  //         height: 100%;
  //         width: 100%;
  //         background-image: linear-gradient(210deg,
  //             #f4f9ff 0%,
  //             rgba(230, 241, 255, 0) 45%);
  //       }
  //     }
  //   }

  //   .guidance {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: stretch;
  //     gap: 48px;

  //     .guidanceCard {
  //       flex: 1;
  //       background: #ffffff;
  //       box-shadow: 0 4px 10px 0 rgba(184, 212, 231, 0.2);
  //       display: flex;
  //       justify-content: space-between;
  //       padding: 32px 32px 48px 22px;

  //       >div {
  //         width: 274px;

  //         p:nth-child(1) {
  //           height: 32px;
  //           font-size: 20px;
  //           color: rgba(0, 0, 0, 0.85);
  //           line-height: 32px;
  //           margin: 0 0 8px 0;
  //         }

  //         p:nth-child(2) {
  //           font-size: 14px;
  //           color: #697a8c;
  //           line-height: 26px;
  //           margin-bottom: 34px;
  //           margin: 0 0 37px 0;
  //         }

  //         a {
  //           font-family: PingFangSC-Regular;
  //           font-size: 14px;
  //           color: #3978ff;
  //           display: flex;
  //           align-items: center;
  //         }
  //       }

  //       img {
  //         width: 200px;
  //         height: 132px;
  //       }
  //     }
  //   }

  //   ul.using {
  //     display: flex;
  //     justify-content: space-between;
  //     gap: 24px;
  //     overflow-x: scroll;
  //     margin: 0;
  //     padding: 0;

  //     li {
  //       list-style: none;
  //       flex: none;
  //     }

  //     img {
  //       height: 34px;
  //       filter: grayscale(100%);
  //     }

  //     li:nth-child(7) {
  //       img {
  //         height: 54.1px;
  //         margin-top: -10px;
  //       }
  //     }
  //   }
  // }
}

:global {

  // 下面样式只影响首页
  .__dumi-default-layout[data-route="/"].__dumi-default-layout[data-gapless='true'] {
    padding-top: 0 !important;

    .__dumi-default-navbar {
      position: absolute;
      width: 1152px;
      margin: 0 auto;
      background-color: transparent;
      padding: 0 !important;
    }

    .__dumi-default-navbar-logo:not([data-plaintext]) {
      width: 233px;
      height: 32px;
      background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/7c3d7d5c-7ae2-4e62-ac38-14a6adb5da8e.svg) !important;
    }

    .__dumi-default-navbar nav>span>a {
      color: #fff;
    }

    .__dumi-default-navbar nav>span>a:hover {
      font-family: PingFangSC-Medium;
      line-height: 22px;
      color: #fff !important;
    }

    .__dumi-default-navbar nav>span:hover:before {
      content: '';
      position: absolute;
      top: 0;
      left: -2px;
      right: -2px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;
    }
  }

  // 下面影响所有页面
  .__dumi-default-navbar nav>span>a svg {
    display: none;
  }
}
