@import (reference) './variable.less';

.@{skeletonPrefix} {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex: 1;
  flex-wrap: nowrap;
  &-avatar-wrapper {
    flex-shrink: 0;
    padding-right: 32 * @rpx;
    & + .@{skeletonPrefix}-content-wrapper {
      padding-top: 24 * @rpx;
    }
  }
  &-content-wrapper {
    flex: 1;
    width: 100%;
  }
}
