@import (reference) "../style/themes/index.less";

// 间隔
@selector-collapse: @h-spacing-large;
// 背景
@selector-background-color: @COLOR_CARD;
// 选项背景
@selector-item-background: @COLOR_GREY_CARD;
// 选项激活背景
@selector-item-active-background: @COLOR_WATHET;
// 未选中选项字体颜色
@selector-item-color: @COLOR_TEXT_PRIMARY;
@selector-line-height: 1.4;
// 选项字体大小
@selector-item-size: @font-size-subtitle;
// 副文案颜色
@selector-item-sub-color: @COLOR_TEXT_ASSIST;
// 副文案大小
@selector-item-sub-size: @font-size-content;
