@import (reference) "../style/themes/index.less";

@pageInfinite : ant-page-infinite;

.@{pageInfinite} {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    &-content {
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-wrap {
      position: absolute;
      bottom: 2 * @rpx;
      left: 0;
      right: 0;
      width: 100%;
      height: 6 * @rpx;
      z-index: 2;
      pointer-events: none;
    }
    &-area {
      position: absolute;
      left: 50%;
      width: 52 * @rpx;
      height: 6 * @rpx;
      overflow: hidden;
      border-radius: @corner-radius-sm / 2;
      transform: translateX(-50%);
      background-color: @COLOR_GREY_CARD;
    }
    &-move {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      transition: all 100ms linear;
      border-radius: @corner-radius-sm / 2;
      background-color: @COLOR_BRAND1;
    }
  }