@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

// popup 背景色
@popup-background: var(--popup-background, @COLOR_CARD);
// 产品蒙层
@popup-mask-product: @color-product-mask;
// popup 圆角
@popup-radius: 48 * @rpx;

@popup-color: var(--popup-color, @COLOR_TEXT_PRIMARY);

@popup-assit-color: var(--popup-assit-color, @COLOR_TEXT_ASSIST);

@popup-mask-close-bg: var(--popup-mask-close-bg, @COLOR_BLACK_FADED);


.mask-appear(@duration: 400ms){
  animation-fill-mode: forwards;
  animation-duration: @duration;
  animation-timing-function: cubic-bezier(0.35, 0.00, 0.65, 1.00);
  animation-name: ant-popup-mask-appear;
}

.mask-close(@duration: 400ms){
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  animation-duration: @duration;
  animation-timing-function: cubic-bezier(0.35, 0.00, 0.65, 1.00);
  animation-name: ant-popup-mask-close;
}

.animation-transform(@name){
  animation-name: @name;
  animation-delay: 100ms;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.00, 0.40, 0.00, 1.00);
}

.animation-transform-close(@name){
  animation-name: @name;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.60, 0.00, 1.00, 0.60);
}