@import (reference) '../../_base/index.less';
.amd-tips-content-core {
  display: flex;
  align-items: center;
}
.amd-tips-title {
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.amd-tips-content {
  .amd-button-content {
    font-size: 24 * @rpx;
    height: 49 * @rpx;
  }
}
