@import (reference) '../_base/index.less';

@skeletonPrefix: amd-skeleton;

@skeleton-fill: rgba(0, 0, 0, 0.06);

@avatar-size: 88 * @rpx;

@default-radius: 8 * @rpx;

@button-width: 120 * @rpx;
@button-height: 48 * @rpx;

.skeleton-animation() {
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    inset: 0 -150%;
    background: linear-gradient(
      90deg,
      rgba(190, 190, 190, 0.2) 25%,
      rgba(129, 129, 129, 0.24) 37%,
      rgba(190, 190, 190, 0.2) 63%
    );
    animation: amd-skeleton-loading 1.4s ease infinite;
    content: '';
  }
}

@keyframes amd-skeleton-loading {
  0% {
    transform: translate(-37.5%);
  }

  100% {
    transform: translate(37.5%);
  }
}
