@import (reference) "./variable.less";
@import "../style/mixins/hairline.less";

@containerPrefix: ant-container;

.@{containerPrefix} {
  border-radius: @container-radius;
  margin-bottom: 24 * @rpx;

  &-header {
    position: relative;
    display: flex;
    height: 96 * @rpx;
  }

  &-content {
    padding: @container-spacing;
    background-color: @container-background-color;

    &-withRadius {
      border-radius: @container-radius;
    }

    &-withHalfRadius {
      border-radius: 0 0 @container-radius @container-radius;
    }
  }
}
