@import (reference) "../style/themes/index.less";

// 图片尺寸
@result-img-size: 128 * @rpx;
// 主区域背景
@result-main-background: @COLOR_CARD;
// 左右边距
@result-spacing-LR: @h-spacing-large;
// 主标题颜色
@result-title-color: @COLOR_TEXT_PRIMARY;
// 主标题大小
@result-title-size: @font-size-title;
// 描述颜色
@result-desc-color: @COLOR_TEXT_ASSIST;
// 描述大小
@result-desc-size: @font-size-content;
