# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/native
/es
/less
/docs-dist
/dist
/dist-theme-dark

# misc
.DS_Store
/coverage

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.vscode
/.idea

# other
/.mini-ide
/.cache

# wechat
project.private.config.json
compiled/wechat/miniprogram_npm
compiled/wechat/node_modules
compiled/wechat/package-lock.json
compiled/wechat/yarn.lock
compiledBackup/wechat/miniprogram_npm
compiledBackup/wechat/node_modules
compiledBackup/wechat/yarn.lock
knowledge.json
server
.dumi/tmp
.dumi/tmp-production

# compiled
/compiled
config/alipay/app.json
config/wechat.json
config/wechat/app.json
config/alipaynative.json
config/alipaynative/app.json
