{
  "overrides": [
    {
      "files": "*.axml",
      "options": {
        "parser": "html",
        "printWidth": 80,
        "tabWidth": 2,
        "bracketSameLine": true,
        "bracketSpacing": true,
        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["**/*.json5"],
      "options": {
        "trailingComma": "none",
        "singleQuote": false
      }
    }
  ],
  "quoteProps": "preserve",
  "singleQuote": true
}
