@import (reference) '../style/themes/index.less';

// 头像圆角
@avatar-img-radius: 50vh;
// 头像大小 80rpx
@avatar-size-x-small: 36 * @rpx;
// 头像大小 88rpx
@avatar-size-small: 60 * @rpx;
// 头像大小 104rpx
@avatar-size-medium: 92 * @rpx;
// 头像大小 120rpx
@avatar-size-large: 140 * @rpx;
