
@import (reference) "../style/themes/index.less";

// loading 尺寸
@loading-icon-size-x-large: 140 * @rpx;
@loading-icon-size-large: 140 * 0.75 * @rpx;
@loading-icon-size-medium: 140 * 0.5 * @rpx;
@loading-icon-size-small: 140 * 0.25 * @rpx;
// 辅助文字尺寸
@loading-text-size: @font-size-weak;
// 辅助文字颜色
@loading-text-color: @color-ironblack-1;
// 深色颜色
@loading-icon-dark-color: #999;
// 浅色颜色
@loading-icon-light-color: rgba(255, 255, 255, 0.6);
