@theme: default;

@COLOR_BRAND1_DEFAULT: #1677FF;
@COLOR_BRAND1_DARK: #3086FF;
@COLOR_BRAND1: if((@theme=dark), @COLOR_BRAND1_DARK, @COLOR_BRAND1_DEFAULT);

@COLOR_WATHET_DEFAULT: #E7F1FF;
@COLOR_WATHET_DARK: #0D2543;
@COLOR_WATHET: if((@theme=dark), @COLOR_WATHET_DARK, @COLOR_WATHET_DEFAULT);

@COLOR_RED_DEFAULT: #FF3141;
@COLOR_RED_DARK: #FF4A58;
@COLOR_RED: if((@theme=dark), @COLOR_RED_DARK, @COLOR_RED_DEFAULT);

@COLOR_YELLOW_DEFAULT: #FF9F18;
@COLOR_YELLOW_DARK: #FFA930;
@COLOR_YELLOW: if((@theme=dark), @COLOR_YELLOW_DARK, @COLOR_YELLOW_DEFAULT);

@COLOR_GREEN_DEFAULT: #22B35E;
@COLOR_GREEN_DARK: #34B368;
@COLOR_GREEN: if((@theme=dark), @COLOR_GREEN_DARK, @COLOR_GREEN_DEFAULT);

@COLOR_TEXT_PRIMARY_DEFAULT: #333333;
@COLOR_TEXT_PRIMARY_DARK: #E6E6E6;
@COLOR_TEXT_PRIMARY: if((@theme=dark), @COLOR_TEXT_PRIMARY_DARK, @COLOR_TEXT_PRIMARY_DEFAULT);

@COLOR_WHITE_DEFAULT: #FFFFFF;
@COLOR_WHITE_DARK: #FFFFFF;
@COLOR_WHITE: if((@theme=dark), @COLOR_WHITE_DARK, @COLOR_WHITE_DEFAULT);

@COLOR_WHITE_CHANGE_DEFAULT: #FFFFFF;
@COLOR_WHITE_CHANGE_DARK: #000000;
@COLOR_WHITE_CHANGE: if((@theme=dark), @COLOR_WHITE_CHANGE_DARK, @COLOR_WHITE_CHANGE_DEFAULT);

@COLOR_TEXT_ASSIST_DEFAULT: #999999;
@COLOR_TEXT_ASSIST_DARK: #808080;
@COLOR_TEXT_ASSIST: if((@theme=dark), @COLOR_TEXT_ASSIST_DARK, @COLOR_TEXT_ASSIST_DEFAULT);

@COLOR_BORDER_DEFAULT: #EEEEEE;
@COLOR_BORDER_DARK: #2B2B2B;
@COLOR_BORDER: if((@theme=dark), @COLOR_BORDER_DARK, @COLOR_BORDER_DEFAULT);

@COLOR_BACKGROUND_DEFAULT: #F5F5f5;
@COLOR_BACKGROUND_DARK: #0A0A0A;
@COLOR_BACKGROUND: if((@theme=dark), @COLOR_BACKGROUND_DARK, @COLOR_BACKGROUND_DEFAULT);

@COLOR_TEXT_WEAK_DEFAULT: #CCCCCC;
@COLOR_TEXT_WEAK_DARK: #4D4D4D;
@COLOR_TEXT_WEAK: if((@theme=dark), @COLOR_TEXT_WEAK_DARK, @COLOR_TEXT_WEAK_DEFAULT);

@COLOR_CARD_DEFAULT: #FFFFFF;
@COLOR_CARD_DARK: #1A1A1A	;
@COLOR_CARD: if((@theme=dark), @COLOR_CARD_DARK, @COLOR_CARD_DEFAULT);

@COLOR_TEXT_SECONDARY_DEFAULT: #666666;
@COLOR_TEXT_SECONDARY_DARK: #B3B3B3;
@COLOR_TEXT_SECONDARY: if((@theme=dark), @COLOR_TEXT_SECONDARY_DARK, @COLOR_TEXT_SECONDARY_DEFAULT);

@COLOR_GREY_CARD_DEFAULT: #F5F5F5;
@COLOR_GREY_CARD_DARK: #2B2B2B;
@COLOR_GREY_CARD: if((@theme=dark), @COLOR_GREY_CARD_DARK, @COLOR_GREY_CARD_DEFAULT);

@COLOR_BLACK_CHANGE_DEFAULT: #000000;
@COLOR_BLACK_CHANGE_DARK: #FFFFFF;
@COLOR_BLACK_CHANGE: if((@theme=dark), @COLOR_BLACK_CHANGE_DARK, @COLOR_BLACK_CHANGE_DEFAULT);;

@COLOR_ORANGE_DEFAULT: #FF6430;
@COLOR_ORANGE_DARK: #E65A2B;
@COLOR_ORANGE: if((@theme=dark), @COLOR_ORANGE_DARK, @COLOR_ORANGE_DEFAULT);

@COLOR_BLACK_DEFAULT: #000000;
@COLOR_BLACK_DARK: #000000;
@COLOR_BLACK: if((@theme=dark), @COLOR_BLACK_DARK, @COLOR_BLACK_DEFAULT);

// 以下是没有是颜色系统里面的
@COLOR_GOLDEN_2: #fff3d9;
@COLOR_GOLDEN_3: #fff9ed;

@COLOR_TANGERINE_1: #ff6010;
@COLOR_TANGERINE_2: #ffece3;

@COLOR_GREY_2: #e5e5e5;
@COLOR_TEXT_WARNING: #ff3b30;

@COLOR_ORANGE_1: #ff8f1f; 
@COLOR_ORANGE_2: #ffefdf;

@COLOR_POMONAGREEN_1: #00B578;
@COLOR_POMONAGREEN_2: #d4fff1;

@color-ironblack-1: #454955; //铁黑

@COLOR_BACKGROUND_POPOVER: #404040; //popover默认底色 