@import (reference) "./color.less";

@hd: 1px;
@pixelSize: 0.5 * @hd;
@rpx: 0.5 * @hd;
@size-base: 8 * @pixelSize; //基础

@size-1: @size-base * 1;
@size-3: @size-base * 3;

@corner-radius-md: 8 * @pixelSize;

@font-size-subcontent: 24 * @pixelSize; //次常规内容
@font-size-content: 26 * @pixelSize; //常规内容
@font-size-subtitle: 30 * @pixelSize; //小标题
@font-size-title: 36 * @pixelSize; //大标题

@border-width-standard: 2 * @pixelSize;

@opacity-disabled: 0.4;

@h-spacing-standard: 16 * @pixelSize; //标准
