@import (reference) '../style/themes/index.less';
// header 颜色
@checkbox-header-color: @COLOR_TEXT_ASSIST;

/* size | 大小 */
@checkbox-size: @icon-size-sm;

/* corner-radius | 圆角 */
@checkbox-corner-radius: @corner-radius-circle;

/* border-width | 边框宽度 */
@checkbox-border-width: @border-width-standard;

/* color | 边框颜色 */
@checkbox-border-color: @COLOR_TEXT_WEAK;

/* color | check状态背景色 */
@checkbox-background-color: @COLOR_BRAND1;

/* color | disabled状态背景色 */
@checkbox-disabled-background: @COLOR_GREY_CARD;

