@import (reference) '../../src/style/variables.less';
@import (reference) '../../src/style/themes/index.less';

/* size 提示列表标题行高 */
@thought-chain-title-color: var(
  --thought-chain-title-color,
  rgba(0, 0, 0, 0.45)
);
@thought-chain-text-color: var(
  --thought-chain-content-color,
  rgba(0, 0, 0, 0.55)
);
@thought-chain-link-color: var(--button-color, #1677ff);
