.fr-textarea {
  textarea {
    font-family: PingFangSC-Regular;
    caret-color: #000;
    line-height: 45rpx;
    font-size: 32rpx;
  }
  .ant-textarea-disabled {
    opacity: 1 !important;
  }
  .a-textarea-content {
    opacity: 1 !important;
  }

  .ant-textarea-content {
    font-family: PingFangSC-Regular;
    font-size: 32rpx;
    line-height: 45rpx;
    color: #666;
  }

  .a-textarea-content {
    font-family: PingFangSC-Regular;
    font-size: 32rpx;
    color: #666;
    line-height: 45rpx;
  }

  .a-textarea-wrap {
    margin-bottom: 100rpx;
  }

  .a-textarea-count-wrap {
    font-family: PingFangSC-Regular;
    font-size: 28rpx;
    line-height: 40rpx;
    color: #bbb;
    margin-right: -10rpx;
  }

  .a-textarea-placeholder {
    font-family: PingFangSC-Regular;
    margin-left: -6rpx;
    font-size: 32rpx;
    line-height: 45rpx;
    color: #bbb;
  }
}
