@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@index-bar-tip-background-color: var(
  --index-bar-tip-background-color,
  @COLOR_TEXT_WEAK
);
@index-bar-text-color: var(--index-bar-text-color, @COLOR_WHITE);
@index-bar-assist-color: var(--index-bar-assist-color, @COLOR_TEXT_ASSIST);
@index-bar-active-color: var(--index-bar-active-color, @COLOR_BRAND1);
