@import (reference) "../style/themes/index.less";

// modal 背景色
@modal-background-color: @COLOR_CARD;
// modal 圆角
@modal-radius: @corner-radius-lg;
// 标题颜色
@modal-title-color: @COLOR_TEXT_PRIMARY;
// 内容大小
@modal-content-size: @font-size-subtitle;
// 内容颜色
@modal-content-color: @COLOR_TEXT_PRIMARY;
// 关闭图标尺寸
@modal-close-icon-size: 36 * @rpx;
