@import (reference) "./variable.less";

@imageUploadPrefix: amd-image-upload;

.@{imageUploadPrefix} {
  display: flex;
  flex-wrap: wrap;
  background: @COLOR_CARD;

  &-show {
    position: relative;
  }

  &-image {
    margin: @image-upload-common-margin;
    border-radius: @corner-radius-md;
  }

  &-close {
    width: @image-upload-close-tip-width;
    height: @image-upload-close-tip-height;
    position: absolute;
    z-index: 99;
    top: @image-upload-size-base * -1;
    right: 0;
    background: url(@image-upload-close-tip-url) no-repeat;
    background-size: cover;
  }

  &-add-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: @image-upload-add-image-container-margin;
    background-color: @COLOR_BACKGROUND;
    border-radius: @corner-radius-md;
  }
  &-add-image-icon {
    color: @COLOR_TEXT_ASSIST;
  }
  &-cover {
    position: absolute;
    margin: @image-upload-common-margin;
    border-radius: @corner-radius-md;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &-loading {
      text-align: center;

      &-icon {
        margin: 0 auto;
        width: 48rpx;
        height: 48rpx;
        font-size: 48rpx;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%2224%2024%2048%2048%22%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20repeatCount%3D%22indefinite%22%20from%3D%220%22%20to%3D%22360%22%20dur%3D%221400ms%22%3E%3C%2FanimateTransform%3E%3Ccircle%20cx%3D%2248%22%20cy%3D%2248%22%20r%3D%2220%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20transform%3D%22translate%5C\(0%2C0%5C\)%22%3E%3Canimate%20attributeName%3D%22stroke-dasharray%22%20values%3D%221px%2C%20200px%3B100px%2C%20200px%3B100px%2C%20200px%22%20dur%3D%221400ms%22%20repeatCount%3D%22indefinite%22%3E%3C%2Fanimate%3E%3Canimate%20attributeName%3D%22stroke-dashoffset%22%20values%3D%220px%3B-15px%3B-125px%22%20dur%3D%221400ms%22%20repeatCount%3D%22indefinite%22%3E%3C%2Fanimate%3E%3C%2Fcircle%3E%3C%2Fsvg%3E");
      }

      &-text {
        color: @COLOR_WHITE;
        font-size: 24rpx;
        margin-top: 8rpx;
      }
    }

    &-error {
      text-align: center;

      &-icon {
        font-size: 48rpx;
        color: @COLOR_WHITE;
      }

      &-text {
        color: @COLOR_WHITE;
        font-size: 24rpx;
        margin-top: 8rpx;
      }
    }
  }
}
