@import (reference) '../style/themes/index.less';

@image-upload-size-base: 4 * @rpx;

@image-upload-margin-size-base: 4 * @rpx;
@image-upload-margin-size-1: @image-upload-margin-size-base * 1;
@image-upload-margin-size-2: @image-upload-margin-size-base * 2;
@image-upload-margin-size-3: @image-upload-margin-size-base * 3;

@image-upload-common-margin: @image-upload-margin-size-1 @image-upload-margin-size-2;
@image-upload-add-image-container-margin: @image-upload-margin-size-1 @image-upload-margin-size-2 @image-upload-margin-size-3;

@image-upload-close-tip-width: @image-upload-size-base * 10;
@image-upload-close-tip-height: @image-upload-size-base * 10;

@image-upload-close-tip-url: 'https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*_Az1QavR4OsAAAAAAAAAAAAAARQnAQ';