@import (reference) '../style/themes/index.less';

// 四种颜色可根据实际情况结合去使用
// 四种深色颜色
@tag-primary-color: @COLOR_BRAND1;
@tag-warning-color: @COLOR_ORANGE;
@tag-danger-color: @COLOR_RED;
@tag-success-color: @COLOR_GREEN;

// 四种浅色的颜色
@tag-primary-light-color: @COLOR_WATHET;
@tag-warning-light-color: @COLOR_ORANGE_2;
@tag-danger-light-color: @COLOR_TANGERINE_2;
@tag-success-light-color: @COLOR_POMONAGREEN_2;

// 白色
@tag-base-color: @COLOR_WHITE;
