@import (reference) "./variable.less";

@checklistPrefix: ant-checklist;

.@{checklistPrefix} {
  &-body {
    position: relative;
    overflow: hidden;
  }

  &-item-check-icon {
    font-size: @font-size-title;
    color: @COLOR_BRAND1;
  }
}
