.mainSectionContainer {
  height: calc(100% - 64px);
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .mainSectionTitle {
    font-family: Helvetica;
    font-size: 44px;
    color: #fff;
    line-height: 46px;
    margin-top: 114px;
  }

  .mainSectionDescription {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    margin-top: 24px;
  }

  .mainSectionButtonAction {
    margin-top: 48px;

    .buttonLeft {
      background: #0170FE;
      color: #fff;
      border: none;
    }

    .buttonRight {
      background: #4ba6ff;
      color: #fff;
      margin-left: 16px;
    }
  }

  .imageContainer {
    position: relative;

    .staticImage {
      margin: 24px;
      height: 320px;
      user-select: none;
      pointer-events: none;
    }

    .calendarImage {
      position: absolute;
      top: 144px;
      width: 244px;
      left: 60px;
      height: 217px;
      background: url(https://gw.alipayobjects.com/zos/bmw-prod/e2b94b5a-87a2-4c04-8032-3dcd36da17cb.svg) no-repeat;
      background-size: cover;

      .publishDayAnimation {
        position: relative;
        left: -14px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .mainSectionContainer {
    display: block;

    .mainSectionTitle {
      margin: 12px auto 0;
    }

    .imageContainer {
      position: absolute;
      width: 322px;
      top: 140px;
      overflow: hidden;

      .staticImage {
        width: 310px;
      }

      .calendarImage {
        width: 128px;
        height: 112px;
        left: 66px;
        top: 176px
      }
    }

    .mainSectionButtonAction {
      margin-top: 290px;
    }
  }
}
