@import (reference) "../style/themes/index.less";

// 字体颜色
@container-header-color: @COLOR_TEXT_PRIMARY;
// 字体大小
@container-header-size: 32 * @rpx;
// 边距
@container-spacing: @h-spacing-large;
// 圆角
@container-radius: @corner-radius-lg;
// 背景
@container-background-color: @COLOR_CARD;
