@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@steps-non-active-bg: var(--steps-non-active-bg, @COLOR_GREY_2);
@steps-title-color: var(--steps-title-color, @COLOR_TEXT_PRIMARY);

@steps-desc-color: var(--steps-desc-color, @COLOR_TEXT_ASSIST);

@steps-default-bg: var(--steps-default-bg, @COLOR_BRAND1);

@steps-finish-bg: var(--steps-finish-bg, @COLOR_RED);
