@import (reference) './variable.less';

.ant-terms {
  box-sizing: border-box;
  padding-top: 20rpx;

  .ant-terms-btn-single {
    height: 98rpx;
    padding: 0;
    justify-content: center;
  }

  &-fixed {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    position: fixed;
    border-top: 1rpx solid #eee;
  }

  .ant-terms-protocol {
    margin: 0 24rpx;
    text-align: left;
    padding-bottom: 24rpx;
    line-height: 37rpx;
    &-item {
      vertical-align: middle;
      font-family: PingFangSC-Regular;
      font-size: 26rpx;
      line-height: 37rpx;
      color: #1677ff;
    }
    &-text {
      vertical-align: middle;
      color: #999;
      font-size: 26rpx;
      line-height: 37rpx;
    }
    .ant-terms-checkbox-tips {
      .ant-popover-content {
        left: -20rpx !important;
      }
    }
    .ant-checkbox-item {
      margin-left: 4rpx;
      margin-right: 8rpx;
      vertical-align: middle;

      /// #if WECHAT
      height: unset;
      /// #endif
      .ant-checkbox-item-content {
        padding-left: 0;
        font-size: 0;
      }
      &-wrap {
        width: 32rpx;
        height: 32rpx;
        flex: 0 0 32rpx;
      }
    }
  }
  /// #if WECHAT
  swiper {
    height: 106rpx;
  }
  /// #endif
  .ant-terms-read {
    &-shadow {
      width: 100%;
      height: 115rpx;
      margin-top: -115rpx;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 12%,
        #ffffff 86%
      );
      position: relative;
      &-total {
        position: absolute;
        right: 48rpx;
        bottom: 0;
        font-size: 22rpx;
        line-height: 30rpx;
        font-weight: 500;
        color: #333333;
      }
    }
    &-protocol {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 58rpx;
      border-radius: 8rpx;
      box-sizing: border-box;
      margin: 24rpx 8rpx 24rpx 8rpx;
      border: 1rpx solid #eeeeee;
      box-shadow: 0 0 10rpx 0 rgba(0, 0, 0, 0.1);

      &-item {
        color: #333;
        font-size: 22rpx;
        line-height: 30rpx;
        font-weight: 500;
      }
      &-text {
        color: #999;
        font-size: 22rpx;
        line-height: 30rpx;
      }
    }
  }

  &-btn {
    margin: 0 24rpx;
    &-item {
      margin-bottom: 24rpx;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-flex {
      display: flex;
      .ant-terms-btn-item {
        margin-bottom: 0;
        flex: 1;
        margin-right: 24rpx;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
