.previewer {
  position: relative;
  iframe {
    height: 698px;
    border: none;
    width: 100%;
  }
  &-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
