@import (reference) '../variable.less';

@inputItemPrefix: ant-textarea;
.@{inputItemPrefix} {
  display: flex;
  align-items: center;
  background: @input-background-color;
  &-disabled {
    opacity: 0.4;
  }
  &-line {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &-content {
    width: 100%;
    align-self: center;
    padding: 0;
    font-size: 34 * @rpx;
    text-align: left;
    color: @input-item-color;
    background: @input-background-color;
    &-clear {
      padding-right: 34 * @rpx;
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16 * @rpx;
    margin-left: 8 * @rpx;
    &-icon {
      color: @input-item-placeholder-color;
      font-size: 34 * @rpx;
    }
  }

  &-clear-show {
    display: flex;
  }
  &-clear-hidden {
    display: none;
    pointer-events: none;
  }
  &-placeholder {
    font-size: 34 * @rpx;
    color: @input-item-placeholder-color;
    margin-left: -6 * @rpx;
  }
}
