@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@tabbar-bg: var(--tabbar-bg, @COLOR_CARD);
@tabbar-item-color: var(--tabbar-item-color, @COLOR_TEXT_SECONDARY);
@tabbar-active-color: var(--tabbar-active-color, @COLOR_BRAND1);
