@import (reference) '../style/themes/index.less';
@import (reference) '../style/variables.less';

@actionsheet-danger-color: var(--color-red, @COLOR_RED);
@actionsheet-icon-width: 48 * @rpx;
@actionsheet-icon-height: 48 * @rpx;
@actionsheet-title-color: var(--color-text-assist, @COLOR_TEXT_ASSIST);
@actionsheet-item-color: var(--color-text-primary, @COLOR_TEXT_PRIMARY);
@actionsheet-item-active-bg: var(--color-border, @COLOR_BORDER);
@activesheet-item-cancel-bg: var(--color-background, @COLOR_BACKGROUND);
