@import (reference) './variable.less';
@import '../style/mixins/hairline.less';

@containerPrefix: ant-container;

.@{containerPrefix} {
  border-radius: @container-radius;
  margin-bottom: 24 * @rpx;
}

.ant-config-provider {
  margin-top: 24px;
}
