@import (reference) './variable.less';

@searchBarPrefix: amd-search-bar;

.@{searchBarPrefix} {
  position: relative;
  display: flex;
  align-items: center;
  height: @search-bar-height;
  padding: 12 * @rpx 24 * @rpx;
  overflow: hidden;
  font-size: @font-size-content;
  box-sizing: border-box;
  background-color: @COLOR_GREY_CARD;
  &-focus {
    background-color: @COLOR_CARD;
  }
  &-padding-right {
    padding-right: 0;
  }
  &-container-cancel {
    padding: 16 * @rpx 0 16 * @rpx 24 * @rpx;
  }
  &-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: @search-bar-input-height;
    overflow: hidden;
    border: 2 * @rpx solid @COLOR_CARD;
    background-color: @search-bar-fill;
    border-radius: @search-bar-border-radius;
    caret-color: @COLOR_BRAND1;
    box-sizing: border-box;
    &-focus {
      border: 2 * @rpx solid @COLOR_BRAND1;
      & .a-input-placeholder {
        font-size: 30 * @rpx;
        color: @COLOR_TEXT_WEAK !important;
      }
    }
    .@{searchBarPrefix}-synthetic {
      padding: 0 8 * @rpx 0 16 * @rpx;
      z-index: 2;
      &-icon {
        color: @search-bar-synthetic-icon-color;
      }
    }
  }
  &-value {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    font-size: @search-bar-font-size;
    line-height: @search-bar-font-size;
    border: 0 none;
    background-color: transparent;
    z-index: 1;
    color: @COLOR_TEXT_PRIMARY;
    & .a-input-placeholder {
      font-size: 30 * @rpx;
      color: @COLOR_TEXT_ASSIST;
    }
  }
  &-clear,
  &-clear {
    &-biz {
      right: 78 * @rpx;
    }
  }
  &-clear-icon {
    color: @search-bar-clear-icon-color;
    padding: 11 * @rpx 8 * @rpx;
    right: 0;
    margin: 0 16 * @rpx;
    .amd-icon {
      font-size: 30 * @rpx;
    }
  }
  &-biz-icon {
    &:empty {
      display: none;
    }
    color: @COLOR_TEXT_ASSIST;
    padding: 11 * @rpx 8 * @rpx;
    font-size: 30 * @rpx;
    margin-right: 16 * @rpx;
  }
  &-right {
    &:empty {
      display: none;
    }
    color: @COLOR_TEXT_PRIMARY;
    padding: 0 24 * @rpx;
    font-size: 30 * @rpx;
  }
}
