@import (reference) '../style/themes/index.less';

@search-bar-fill: @COLOR_CARD;
@search-bar-height: 92 * @rpx;
@search-bar-input-height: 64 * @rpx;
@search-bar-input-padding: 60 * @rpx;
@search-bar-font-size: 30 * @rpx;
@search-bar-synthetic-icon-color: @COLOR_TEXT_WEAK;
@search-bar-clear-icon-color: @COLOR_TEXT_WEAK;
@search-bar-border-radius: 12 * @rpx;
