@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@ant-card-bg: var(--ant-card-bg, @COLOR_WHITE);

@ant-card-header-title-color: var(
  --ant-card-header-title-color,
  @COLOR_TEXT_PRIMARY
);

@ant-card-link-color: var(--ant-card-header-title-color, @COLOR_TEXT_ASSIST);

@ant-card-fold-btn-color: var(--ant-card-fold-btn-color, @COLOR_BRAND1);

@ant-card-divider-color: var(--ant-card-divider-color, #eeeeee);
