@import (reference) '../style/themes/index.less';

@gridPrefix: ant-grid;

@icon-size: 56 * @rpx;

@title-color: @COLOR_TEXT_PRIMARY;

@description-size: 24 * @rpx;

@description-color: @COLOR_TEXT_ASSIST;

@vertical-space: 40 * @rpx;

@columnsscroll-width: 130 * @rpx;

@border-color: @COLOR_BORDER;
