@import (reference) '../_base/index.less';

@gridPrefix: amd-grid;

@icon-size: 56 * @rpx;

@title-size: 26 * @rpx;

@title-color: #333;

@desc-size: 24 * @rpx;

@desc-color: #999;

@vertical-space: 40 * @rpx;

//2-5 columns 时item的间距和宽度
@columns5-space: 13 * @rpx;
@columns5-width: calc((100% - @columns5-space * 4) / 5);

@columns4-space: 60 * @rpx;
@columns4-width: calc((100% - @columns4-space * 3) / 4);

@columns3-space: 0 * @rpx;
@columns3-width: calc((100% - @columns3-space * 2) / 3);

@columns2-space: 48 * @rpx;
@columns2-width: calc((100% - @columns2-space * 1) / 2);

@columnsscroll-space: 0 * @rpx;
@columnsscroll-width: 130 * @rpx;