@import (reference) "./variable.less";

@emptyPrefix: ant-empty;

.@{emptyPrefix} {
  text-align: center;
  margin-top: @empty-margin-large;

  &-image {
    display: flex;
    justify-content: center;
    image {
      width: 200 * @rpx;
      height: 170 * @rpx;
    }
  }

  &-text {
    margin-top: @v-spacing-large;

    &-main {
      color: @COLOR_TEXT_PRIMARY;
      font-size: @empty-font-size-large;
    }

    &-sub {
      color: @COLOR_TEXT_ASSIST;
      font-size: @empty-font-size-common;
      margin-top: @v-spacing-standard;
    }
  }

  &-extra {
    padding-top: 20px;
  }
}
