@import (reference) "../_base/index.less";

@emptyPrefix: amd-empty;

.@{emptyPrefix} {
  font-family: PingFangSC-Regular;

  &-page {
    text-align: center;
    padding-top: 25vh;

    &-image {
      margin: 0 auto;
      width: 400 * @rpx;
      height: 340 * @rpx;
      background: url(https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*0AaRRrYlVDkAAAAAAAAAAAAAARQnAQ) no-repeat;
      background-size: contain;
    }

    &-text {
      margin-top: 40 * @rpx;

      &-main {
        color: #333;
        font-size: 40 * @rpx;
      }

      &-sub {
        color: #999;
        font-size: 26 * @rpx;
        margin-top: 16 * @rpx;
      }
    }

    &-btn {
      margin-top: 40 * @rpx;

      &-main {
        margin-left: 24 * @rpx;
      }
    }
  }

  &-section {
    text-align: center;
    margin-top: 40 * @rpx;

    &-image {
      margin: 0 auto;
      width: 200 * @rpx;
      height: 170 * @rpx;
      background: url(https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*0AaRRrYlVDkAAAAAAAAAAAAAARQnAQ) no-repeat;
      background-size: contain;
    }

    &-text {
      margin-top: 40 * @rpx;

      &-main {
        color: #333;
        font-size: 40 * @rpx;
      }

      &-sub {
        color: #999;
        font-size: 26 * @rpx;
        margin-top: 16 * @rpx;
      }
    }

    &-text {
      margin-top: 40 * @rpx;

      &-main {
        color: #333;
        font-size: 40 * @rpx;
      }

      &-sub {
        color: #999;
        font-size: 26 * @rpx;
        margin-top: 16 * @rpx;
      }
    }

    &-btn {
      margin-top: 40 * @rpx;

      &-main {
        margin-left: 24 * @rpx;
      }
    }
  }
}
