@import (reference) "../style/themes/index.less";

@empty-font-size-common: 26 * @rpx;
@empty-font-size-large: 40 * @rpx;

@empty-margin-small: 12 * @rpx;
@empty-margin-large: 40 * @rpx;
@empty-margin-middle: 24 * @rpx;

@empty-image-url: 'https://gw.alipayobjects.com/mdn/rms_226d75/afts/img/A*0AaRRrYlVDkAAAAAAAAAAAAAARQnAQ';
