@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

// text 颜色
@empty-text-color: var(--empty-text-color, @COLOR_TEXT_PRIMARY);
// asisst-text 颜色
@empty-asisst-text-color: var(--empty-asisst-text-color, @COLOR_TEXT_ASSIST);
@empty-normal-width: 510 * @rpx;
@empty-small-width: 416 * @rpx;
@empty-normal-height: 282 * @rpx;
@empty-small-height: 230 * @rpx;

@empty-font-size-common: 24 * @rpx;
@empty-font-size-large: 36 * @rpx;

@empty-margin-x-small: 12 * @rpx;
@empty-margin-small: 24 * @rpx;
@empty-margin-middle: 32 * @rpx;
@empty-margin-large: 24 * @rpx;

@empty-vertical-button-width: 368 * @rpx;

@empty-vertical-button-gap: 32 * @rpx;
@empty-horizontal-button-gap: 24 * @rpx;

@empty-sub-line-height: 37 * @rpx;
@empty-text-line-height: 50 * @rpx;

@empty-image-url: 'https://mdn.alipayobjects.com/huamei_mnxlps/afts/img/A*J9z7RqVm1soAAAAAAAAAAAAADkqGAQ/original';
