@import (reference) './variable.less';

@checkboxItemPrefix: ant-calendar;

.@{checkboxItemPrefix} {
  color: @COLOR_TEXT_PRIMARY;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-body {
    flex: 1;
  }

  &-sticky {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 82rpx;
    width: 100%;
    overflow: hidden;
    top: 88rpx;
  }

  &-mark {
    height: 88rpx;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 28rpx;
    padding: 0 8rpx;

    & &-cell {
      flex: 1;
      text-align: center;
    }
  }

  &-title {
    background: #f8f8f8;
    color: #333333;
    font-size: @font-size-title;
    height: 82rpx;
    line-height: 82rpx;
    padding-left: 40rpx;
    margin-bottom: 8rpx;
  }

  &-cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-cell {
    flex: none;
    box-sizing: border-box;
    width: calc(100% / 7);
    height: 110rpx;
    margin-bottom: 8rpx;

    &-container {
      padding-top: 7rpx;
      padding-bottom: 8rpx;
    }

    &-top {
      text-align: center;
      font-size: 18rpx;
      height: 25rpx;
    }

    &-center {
      text-align: center;
      height: 45rpx;
      font-size: 32rpx;
    }

    &-bottom {
      text-align: center;
      font-size: 18rpx;
      height: 25rpx;
    }

    &-selected {
      background: rgba(22, 119, 255, 0.1);
    }

    &-selected-begin {
      border-top-left-radius: @corner-radius-md;
      border-bottom-left-radius: @corner-radius-md;
      background: rgba(22, 119, 255, 0.1);
    }

    &-selected-begin &-container {
      background: #1677ff;
      border-radius: 8rpx;
      color: @COLOR_WHITE_DEFAULT;
    }

    &-selected-end {
      border-top-right-radius: @corner-radius-md;
      border-bottom-right-radius: @corner-radius-md;
      color: @COLOR_WHITE_DEFAULT;
    }

    &-selected-row-end {
      border-top-right-radius: @corner-radius-md;
      border-bottom-right-radius: @corner-radius-md;
    }

    &-selected-row-begin {
      border-top-left-radius: @corner-radius-md;
      border-bottom-left-radius: @corner-radius-md;
    }

    &-selected-end &-container {
      background: #1677ff;
      border-radius: @corner-radius-md;
      color: @COLOR_WHITE_DEFAULT;
    }
  }

  &-cell-disabled {
    opacity: 0.4;
  }

  &-cell-hidden {
    opacity: 0;
  }
}
