/* 给css变量的默认底色，用来兜底使用 */

@COLOR_Link_DEFAULT: #4b6b99;

@COLOR_BORDER_GREYCARD_DEFAULT: #e5e5e5;

@COLOR_BRAND1_DEFAULT: #1677ff;
@COLOR_BRAND1_FADED_1: fade(@COLOR_BRAND1_DEFAULT, 10%);
@COLOR_BRAND1_FADED_3: fade(@COLOR_BRAND1, 30%);
@COLOR_BRAND2_DEFAULT: #1677ff;

@COLOR_BRAND1: @COLOR_BRAND1_DEFAULT;

@COLOR_BRAND2: @COLOR_BRAND2_DEFAULT;

@COLOR_LINK: @COLOR_Link_DEFAULT;

@COLOR_WATHET_DEFAULT: #e7f1ff;
@COLOR_WATHET: @COLOR_WATHET_DEFAULT;

@COLOR_RED_DEFAULT: #ff3141;
@COLOR_RED: @COLOR_RED_DEFAULT;
@COLOR_RED_FADED: fade(@COLOR_RED_DEFAULT, 30%);

@COLOR_YELLOW_DEFAULT: #ff9f18;
@COLOR_YELLOW: @COLOR_YELLOW_DEFAULT;

@COLOR_GREEN_DEFAULT: #22b35e;
@COLOR_GREEN: @COLOR_GREEN_DEFAULT;
@COLOR_GREEN_FADED: fade(@COLOR_GREEN_DEFAULT, 30%);

@COLOR_TEXT_PRIMARY_DEFAULT: #333333;
@COLOR_TEXT_PRIMARY: @COLOR_TEXT_PRIMARY_DEFAULT;

@COLOR_WHITE_DEFAULT: #ffffff;
@COLOR_WHITE: @COLOR_WHITE_DEFAULT;
@COLOR_WHITE_FADED: fade(@COLOR_WHITE_DEFAULT, 92%);

@COLOR_TEXT_ASSIST_DEFAULT: #999999;
@COLOR_TEXT_ASSIST: @COLOR_TEXT_ASSIST_DEFAULT;

@COLOR_BORDER_DEFAULT: #e5e5e5;
@COLOR_BORDER: @COLOR_BORDER_DEFAULT;
@COLOR_BORDER_GREYCARD: @COLOR_BORDER_GREYCARD_DEFAULT;

@COLOR_BACKGROUND_DEFAULT: #f5f5f5;
@COLOR_BACKGROUND: @COLOR_BACKGROUND_DEFAULT;

@COLOR_BACKGROUND2_DEFAULT: #f0f3f7;
@COLOR_BACKGROUND2: @COLOR_BACKGROUND2_DEFAULT;

@COLOR_TEXT_WEAK_DEFAULT: #cccccc;
@COLOR_TEXT_WEAK: @COLOR_TEXT_WEAK_DEFAULT;
@COLOR_TEXT_WEAK_FADED: fade(@COLOR_TEXT_WEAK, 60%);

@COLOR_CARD_DEFAULT: #ffffff;
@COLOR_CARD: @COLOR_CARD_DEFAULT;
@COLOR_CARD_FADED_95: fade(@COLOR_CARD, 95);
@COLOR_CARD_FADED_60: fade(@COLOR_CARD, 60);

@COLOR_CARD2_DEFAULT: #ffffff;
@COLOR_CARD2: @COLOR_CARD2_DEFAULT;

@COLOR_WHITE_CARD_DEFAULT: #ffffff;
@COLOR_WHITE_CARD: @COLOR_WHITE_CARD_DEFAULT;

@COLOR_TEXT_SECONDARY_DEFAULT: #666666;
@COLOR_TEXT_SECONDARY: @COLOR_TEXT_SECONDARY_DEFAULT;

@COLOR_GREY_CARD_DEFAULT: #f5f5f5;
@COLOR_GREY_CARD: @COLOR_GREY_CARD_DEFAULT;

@COLOR_BLACK_CARD_DEFAULT: #000000;
@COLOR_BLACK_CARD: @COLOR_BLACK_CARD_DEFAULT;

@COLOR_ORANGE_DEFAULT: #ff6430;
@COLOR_ORANGE: @COLOR_ORANGE_DEFAULT;
@COLOR_ORANG_FADED: fade(@COLOR_ORANGE, 30%);

@COLOR_BLACK_DEFAULT: #000000;
@COLOR_BLACK: @COLOR_BLACK_DEFAULT;
@COLOR_BLACK_FADED: fade(@COLOR_BLACK, 0%);
@COLOR_BLACK_FADED_20: fade(@COLOR_BLACK, 20%);
@COLOR_BLACK_FADED_10: fade(@COLOR_BLACK, 10%);
@COLOR_BLACK_FADED_8: fade(@COLOR_BLACK, 8%);

@COLOR_WHITE_DYNAMIC_DEFAULT: #ffffff;
@COLOR_WHITE_DYNAMIC: @COLOR_WHITE_DYNAMIC_DEFAULT;

@COLOR_WHITE_CHANGE_DEFAULT: @COLOR_WHITE;
@COLOR_WHITE_CHANGE: @COLOR_WHITE_CHANGE_DEFAULT;

@COLOR_BLACK_CHANGE_DEFAULT: @COLOR_BLACK;
@COLOR_BLACK_CHANGE: @COLOR_BLACK_CHANGE_DEFAULT;

// 以下是没有是颜色系统里面的
@COLOR_GOLDEN_2: #fff3d9;
@COLOR_GOLDEN_3: #fff9ed;

@COLOR_TANGERINE_1: #ff6010;
@COLOR_TANGERINE_2: #ffece3;

@COLOR_GREY_2: #e5e5e5;
@COLOR_TEXT_WARNING: #ff3b30;

@COLOR_ORANGE_1: #ff8f1f;
@COLOR_ORANGE_2: #ffefdf;

@COLOR_POMONAGREEN_1: #00b578;
@COLOR_POMONAGREEN_2: #d4fff1;

@color-ironblack-1: #454955; //铁黑

@COLOR_BACKGROUND_POPOVER: #404040; //popover默认底色
