@import (reference) "./variable.less";

@font-face {
  font-family: DINPro, sans-serif;
  src: url("https://resource/DINPro-Medium.ttf?v=202100204") format("truetype");
}

@stepperPrefix: amd-stepper;

.@{stepperPrefix} {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 56 * @rpx;
  overflow: hidden;
  background-color: @color-fill-grey-inverse;
  box-sizing: border-box;

  .amd-button-content,
  .amd-button-wrap {
    width: 56 * @rpx;
    height: 56 * @rpx;
    padding: 0;
    background-color: #f5f5f5;
    color: #1677ff;
  }

  .amd-button-content-disabled {
    .amd-icon {
      color: #999;
    }
  }

  &-handler {
    &-up {
      .amd-button-content {
        border-top-left-radius: 0;
        border-top-right-radius: 4 * @rpx;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4 * @rpx;
      }
      &-inner {
        .amd-icon {
          display: flex;
          align-items: center;
          font-size: 26 * @rpx;
        }
      }
    }

    &-down {
      .amd-button-content {
        border-top-right-radius: 0;
        border-top-left-radius: 4 * @rpx;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4 * @rpx;
      }
      &-inner {
        .amd-icon {
          display: flex;
          align-items: center;
          font-size: 26 * @rpx;
        }
      }
    }
  }

  &-input {
    display: inline-block;
    width: 88 * @rpx;
    height: 56 * @rpx;
    margin-left: 4 * @rpx;
    margin-right: 4 * @rpx;
    text-align: center;
    line-height: normal;
    font-size: 30 * @rpx;
    font-family: PingFangSC-Regular;
    color: #333;
    color: @stepper-text-color;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 7 *@rpx 14 *@rpx;
    caret-color: #1677ff;

    &-disabled {
      opacity: 0.4;
    }
  }
}
