@import (reference) "../style/themes/index.less";

// 字体大小
@stepper-font-size: 30 * @rpx;
// 加减边框
@stepper-handler-border-width: 2 * @rpx;
@stepper-handler-border-radius: 4.4 * @rpx;
@stepper-handler-border-color: @COLOR_GREY_2;
// 加减点击背景
@stepper-handler-tap-background-color: #ddd;
@stepper-handler-size: 40 * @rpx;
