@import '../../../src/style/themes/color.less';

.wrap {
  display: flex;
}
.popover {
  .amd-v1-popover-inner {
    padding: 0;
    background-color: @COLOR_CARD;
  }

  .amd-v1-popover-arrow {
    border-bottom-color: @COLOR_CARD;
  }
}
