@import (reference) './variable.less';

@buttonPrefix: ant-copilot-prompts;

.@{buttonPrefix} {
  &-title {
    font-weight: 400;
    font-size: @prompts-title-size;
    color: @prompts-title-color;
    line-height: @prompts-title-line-height;
    padding-bottom: @prompts-title-padding-bottom;
  }
  &-vertical-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      border: 2rpx solid @prompts-item-border-color;
      /// #if ALIPAYNATIVE
      border-color: @prompts-item-border-color;
      /// #endif
      border-radius: 50vh;
      padding: 20rpx 32rpx;

      margin-bottom: @prompts-list-gap;
      &:last-of-type {
        margin-bottom: 0;
      }

      &.disabled {
        opacity: 0.45;
        pointer-events: none;
      }

      &-icon {
        font-size: 32 * @rpx;
      }

      &-image {
        width: 40rpx;
        height: 40rpx;
        flex-shrink: 0;
        margin-right: @prompts-item-gap;
      }

      &-label {
        font-weight: 500;
        font-size: 28rpx;
        color: @prompts-item-label-color;
        line-height: @prompts-item-description-line-height;
        text-wrap: nowrap;
        flex-shrink: 0;
        margin-right: @prompts-item-gap;
      }

      &-description {
        font-weight: 400;
        font-size: 28rpx;
        color: @prompts-item-description-color;
        line-height: @prompts-item-description-line-height;
        margin-right: @prompts-item-gap;
      }

      &-arrow {
        font-size: 32rpx;
        color: @prompts-item-arrow-color;
      }
    }
  }

  &-horizontal-list {
    box-sizing: border-box;
    padding: 24 * @rpx 24 * @rpx 0 24 * @rpx;
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
    /// #if WECHAT
    height: 106 * @rpx;
    /// #endif
    &.wrap {
      flex-wrap: wrap;
      /// #if WECHAT
      height: unset;
      /// #endif
    }
    &-item {
      &.disabled {
        opacity: 0.45;
        pointer-events: none;
      }
      &:last-of-type {
        margin-right: 0;
      }
      /// #if WECHAT
      height: 58 * @rpx;
      box-sizing: border-box;
      /// #endif
      flex-shrink: 0;
      padding: 8 * @rpx 24 * @rpx;
      border: 2 * @rpx solid @prompts-item-border-color;
      /// #if ALIPAYNATIVE
      border-color: @prompts-item-border-color;
      /// #endif
      border-radius: 30 * @rpx;
      margin-right: 16 * @rpx;
      display: flex;
      align-items: center;
      margin-bottom: 24rpx;
      &-typography {
        .ant-typography-icon-image {
          width: 40 * @rpx;
          height: 40 * @rpx;
        }
        .ant-typography-icon {
          font-size: 32 * @rpx;
        }
        .ant-typography-text {
          font-size: 30 * @rpx;
          line-height: 42 * @rpx;
          color: @prompts-item-label-color;
        }
      }
    }
  }
}
