@import (reference) '../../src/style/variables.less';
@import (reference) '../../src/style/themes/index.less';

/* size 提示列表标题行高 */
@prompts-title-line-height: var(--prompts-title-line-height, @size-6);
/* size 提示列表标题行高 */
@prompts-title-size: var(--prompts-title-size, @size-4);
/* color 提示列表标题颜色 */
@prompts-title-color: var(--prompts-title-color, rgba(0, 0, 0, 0.25));
/* size 提示列表标题行高 */
@prompts-title-padding-bottom: var(--prompts-title-padding-bottom, @size-2);
/* size 列表的间距 */
@prompts-list-gap: var(--prompts-list-gap, @size-3);

/* size 提示项内容行高 */
@prompts-item-description-line-height: var(
  --prompts-item-description-line-height,
  44 * @rpx
);
/* size 提示子项内容的间距 */
@prompts-item-gap: var(--prompts-item-gap, @size-2);
/* color 提示子项边框颜色 */
@prompts-item-border-color: var(
  --prompts-item-border-color,
  rgba(0, 0, 0, 0.1)
);
/* color 提示子项标题颜色 */
@prompts-item-label-color: var(--prompts-item-label-color, rgba(0, 0, 0, 0.88));
/* color 提示子项内容颜色 */
@prompts-item-description-color: var(
  --prompts-item-description-color,
  rgba(0, 0, 0, 0.88)
);
/* color 提示子项箭头颜色 */
@prompts-item-arrow-color: var(--prompts-item-arrow-color, rgba(0, 0, 0, 0.45));
