@import (reference) './variable.less';

@avatarPrefix: ant-feedback;

.@{avatarPrefix} {
  .ant-popover-inner {
    color: #333333;
  }
  .ant-popover-content {
    width: 568 * @rpx;
  }
  .ant-popover-inner {
    max-width: 100%;
  }
  &-show {
    z-index: 9;
    position: relative;
  }
  &-mask {
    z-index: 2;
    background: rgba(0, 0, 0, 0.25);
  }
  &-trigger {
    position: relative;
  }
  &-guide {
    position: absolute;
    background: #FFFFFF;
    border-radius: 18 * @rpx;
    width: 24 * @rpx;
    height: 24 * @rpx;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-content {
    background: #FFFFFF;
    border-radius: 24 * @rpx;
    &-card {
      display: flex;
      flex-direction: column;
      padding: 24 * @rpx;
      background: #FFFFFF;
      .ant-feedback-content-list {
        flex-direction: column;
        gap: 16 * @rpx;
      }
      .ant-feedback-content-list-item {
        background: #F5F5F5;
        border-radius: 50vh;
        padding: 18 * @rpx 24 * @rpx;
      }
    }
    &-popover {
      padding: 24 * @rpx;
      .ant-feedback-content-list {
        flex-direction: column;
        gap: 16 * @rpx;
      }
      .ant-feedback-content-list-item {
        background: #F5F5F5;
        border-radius: 50vh;
        padding: 18 * @rpx 24 * @rpx;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 28 * @rpx;
      color: #333333;
      letter-spacing: 0;
      padding-bottom: 20 * @rpx;
      padding-top: 4 * @rpx;
    }
    &-list {
      display: flex;
      flex-direction: column;
      &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .ant-icon , &-image {
          font-size: 36 * @rpx;
          width: 36 * @rpx;
          height: 36 * @rpx;
          margin-right: 16 * @rpx;
        }
        &-text {
          font-weight: 400;
          font-size: 26 * @rpx;
          color: #333333;
          line-height: 37 * @rpx;
        }
      }
    }
  }
}
