@import (reference) '../style/themes/index.less';

/* size | 按钮内间距 */
@calendar-cell-top-height: 25 * @rpx;
@calendar-cell-top-font-size: 18 * @rpx;
@calendar-cell-bottom-height: 25 * @rpx;
@calendar-cell-bottom-font-size: 18 * @rpx;
@calendar-cell-center-height: 45 * @rpx;
@calendar-cell-center-font-size: 32 * @rpx;
@calendar-cell-top-padding: 7 * @rpx;
@calendar-cell-space-size: 10 * @rpx;
@calendar-cell-bottom-margin: 8 * @rpx;
@calendar-cell-height: (25 + 25 + 45 + 7 + 8) * @rpx;
@calendar-cell-disabled-opacity: @opacity-disabled;
@calendar-cells-padding: 16 * @rpx;

@calendar-sticky-title-z-index: 1000;
@calendar-month-title-height: 82 * @rpx;

@calendar-weekday-names-height: 88 * @rpx;
@calendar-weekday-names-font-size: 28 * @rpx;
@calendar-weekday-names-background-color: #f8f8f8;
@calendar-weekday-names-bottom-margin: 8 * @rpx;
@calendar-weekday-names-left-padding: @size-5;
