@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

// 字体颜色
@form-text-color: var(--form-text-color, @COLOR_TEXT_WEAK);

@form-item-color: var(--form-item-color, @COLOR_TEXT_SECONDARY);

@form-item-bg: var(--form-item-bg, @COLOR_CARD);

@form-error-color: var(--color-red, @COLOR_RED);

@form-extra-color: var(--form-extra-color, @COLOR_TEXT_ASSIST);

@form-asterisk-color: var(--form-asterisk-color, @COLOR_TEXT_WARNING);
