page {
  padding: 12rpx;
}

.customizeStyle {
  .ant-copilot-prompts-list-item-content {
    font-family: PingFangSC-Light;
    font-size: 28rpx;
    color: #bbbbbb;
    line-height: 44rpx;
  }
}

.customize-prompts-title {
  color: #b76b01;
  font: 500;
  font-size: 36rpx;
  padding-bottom: 24rpx;
}

.customize-prompts-item {
  color: #ffffff;
  font-size: 24rpx;
  padding: 24rpx;
  background: #aaaaaa;
  border-radius: 16rpx;
}
