/* default主题，浅色主题 */
:root,
page {
  // primary
  --color-brand1: #1677ff;
  --color-brand1-faded: rgba(22, 119, 255, 0.1);
  --color-brand1-faded-3: rgba(22, 119, 255, 0.3);
  --color-brand2: #1677ff;

  // secondary
  --color-link: #4b6b99;
  --color-wathet: #e7f1ff;
  --color-orange: #ff6430;
  --color-orange_faded: rgba(255, 100, 48, 0.7);
  --color-yellow: #ff9f18;
  --color-green: #22b35e;
  --color-green-faded: rgba(34, 179, 94, 0.7);
  --color-red: #ff3141;
  --color-red-faded: rgba(255, 49, 65, 0.7);

  // neutral
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-assist: #999999;
  --color-text-weak: #cccccc;
  --color-text-weak-faded: rgba(204, 204, 204, 0.6);
  --color-border: #eeeeee;
  --color-border-greycard: #e5e5e5;

  --color-background2: #f0f3f7;
  --color-background: #f5f5f5;
  --color-card: #ffffff;
  --color-card-faded-95: rgba(255, 255, 255, 0.05);
  --color-card-faded-60: rgba(255, 255, 255, 0.4);
  --color-card2: #ffffff;
  --color-white-card: #ffffff;
  --color-grey-card: #f5f5f5;
  --color-black-card: #000000e6;
  --color_text_secondary: #666666;

  // reverse
  --color-white: #ffffff;
  --color-white-faded: rgba(255, 255, 255, 0.08);
  --color-black: #000000;
  --color-black-fade: rgba(0, 0, 0, 1);
  --color-black-fade-10: rgba(0, 0, 0, 0.9);
  --color-black-fade-8: rgba(0, 0, 0, 0.92);
  --color-white-dynamic: #ffffff;
  --color-white-change: #ffffff;
  --color-black-change: #000000;

  // 以下没在颜色系统中
  --color-golden-2: #fff3d9;
  --color-golden-3: #fff9ed;

  --color-tangerine-1: #ff6010;
  --color-tangerine-2: #ffece3;
  --color-grey-2: #e5e5e5;
  --color-text-warning: #ff3b30;
  --color-orange-1: #ff8f1f;
  --color-orange-2: #ffefdf;
  --color-pomonagreen-1: #00b578;
  --color-pomonagree-2: #d4fff1;

  // radius
  --size-radius-xs: 8rpx;
  --size-radius-s: 16rpx;
  --size-radius-m: 24rpx;
  --size-radius-l: 32rpx;
  --size-radius-xl: 40rpx;
  --size-radius-xxl: 48rpx;

  // space
  --size-space-page-margin: 16rpx;
  --size-space1: 4rpx;

  // opacity
  --opacity-press: 0.08;
  --opacity-disabled: 0.4;
  --opacity-mask: 0.55;
  --opacity-module: 0.9;

  // font-size
  --size-font1: 22rpx;
  --size-font2: 24rpx;
  --size-font3: 26rpx;
  --size-font4: 28rpx;
  --size-font5: 30rpx;
  --size-font6: 32rpx;
  --size-font7: 34rpx;
  --size-font8: 36rpx;
  --size-font9: 40rpx;
  --size-font10: 48rpx;
  --size-font11: 56rpx;
  --size-font12: 64rpx;

  // button
  --button-disabled-opacity: 0.4;
  --button-color: #1677ff;
  --button-background-color: #ffffff;
  --button-border-color: #1677ff;
  --button-primary-border-color: #1677ff;
  --button-primary-background-color: #1677ff;
  --button-primary-color: #ffffff;
  --button-primary-aide-border-color: #e7f1ff;
  --button-primary-aide-color: #1677ff;
  --button-default-aide-border-color: #f5f5f5;
  --button-default-aide-background-color: #ffffff;
  --button-default-aide-color: #333333;
  --button-primary-danger-background-color: #ff3141;
  --button-primary-danger-border-color: #ff3141;
  --button-primary-danger-color: #ffffff;
  --button-default-danger-background-color: #ffffff;
  --button-default-danger-border-color: #ff3141;
  --button-default-danger-color: #ff3141;
  --button-text-danger-color: #ff3141;
  --button-danger-default-color: #ff3141;
  --button-active-bg: rgba(255, 255, 255, 0.08);
  --button-inline-size: 30rpx;
  --button-font-size: 38rpx;
  --button-large-font-size: 38rpx;
  --button-medium-font-size: 34rpx;
  --button-small-font-size: 30rpx;
  --button-icon-size: 44rpx;
  --button-padding: 24rpx;
  --button-large-padding: 24rpx;
  --button-medium-padding-top: 16rpx;
  --button-medium-padding-left: 24rpx;
  --button-small-padding-top: 8rpx;
  --button-small-padding-left: 24rpx;
  --button-subtext-size: 24rpx;
  --button-border-size: 2rpx;

  // actionsheet
  --actionsheet-danger-color: #ff3141;
  --actionsheet-title-color: #999999;
  --actionsheet-item-color: #333333;
  --actionsheet-item-active-bg: #eeeeee;
  --activesheet-item-cancel-bg: #f5f5f5;

  // feedBack
  --feedback-background-color: rgba(216, 216, 216, 0.42);
  --feedback-mask-color: rgba(0, 0, 0, 0.25);

  // imageUpload
  --image-upload-cover-background: rgba(0, 0, 0, 0.4);

  // loading
  --color-ironblack-1: #454955; //铁黑
  --loading-icon-light-color: rgba(255, 255, 255, 0.6);

  // mask
  --mask-background-color: rgba(0, 0, 0, 0.55);

  // numberKeyboard
  --number-key-board-active-background-color: #d3d3d3;

  // popover
  --color-background-popover: #404040; //popover默认底色

  // popoverList
  --popover-content-bg: rgba(0, 0, 0, 0.93);
  --popover-content-color: #ffffff;
  --popover-badge-color: #ff411c;

  // rare-words
  --rare-words-bg: rgba(0, 0, 0, 0.45);
  --rare-keyboard-bg: #d8d8d8;

  //slide
  --slide-block-shadow: rgba(0, 0, 0, 0.12);

  // stepper
  --stepper-handler-tap-bg: #ddd;

  // toast
  --toast-default-bg: rgba(0, 0, 0, 0.75);

  // calender
  --calendar-weekday-names-bg: #f8f8f8;
}
