@import (reference) '../style/themes/index.less';

// input 字体颜色
@input-item-color: @COLOR_TEXT_PRIMARY;
// input 字体大小
@input-item-size: @font-size-content;
// input placeholder 颜色
@input-item-placeholder-color: @COLOR_TEXT_WEAK;
// input 清除 颜色
@input-item-clear-color: @COLOR_TEXT_ASSIST;
