@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@tabs-basic-color: var(--tabs-basic-color, @COLOR_TEXT_PRIMARY);
@tabs-weaken-color: var(--tabs-weaken-color, @COLOR_TEXT_ASSIST);
@tabs-inverse-color: var(--tabs-inverse-color, @COLOR_CARD);
@tabs-active-color: var(--tabs-active-color, @COLOR_BRAND1);
@tabs-active-decorate-color: var(--tabs-active-decorate-color, @COLOR_BRAND1);
@tabs-underline-border-color: var(--tabs-underline-border-color, @COLOR_BORDER);
@tabs-plus-color: var(--tabs-plus-color, @COLOR_BLACK_CHANGE);
@tabs-capsule-title-bg: var(--tabs-capsule-title-bg, @COLOR_GREY_CARD);
@tabs-subtitle-color: var(--tabs-subtitle-color, @COLOR_WHITE_CHANGE);
@tabs-count-color: var(--tabs-count-color, @COLOR_TEXT_WEAK);

@tabs-badge-size: var(--tabs-badge-size, @sizeFont4);
