.form-selector {
  padding-bottom: 300rpx;
  .fr-form-item-label-row {
    min-width: 140rpx;
  }

  .custom-selector {
    .ant-selector-content-item2 {
      flex-grow: 0;
      min-width: 180rpx;
    }
    .ant-selector-item {
      border: 4rpx solid #1890ff;
      border-radius: 16rpx;
    }
  }
} 