@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

// 蒙层
@popover-mask: @color-product-mask;
// 圆角
@popover-radius: @corner-radius-md;

@popover-bg: var(--popover-bg, @COLOR_CARD);

@popover-text-color: var(--popover-text-color, @COLOR_BLACK);

@popover-inner-bg: var(--popover-color-background, @COLOR_BACKGROUND_POPOVER);

@popover-inner-color: var(--popover-inner-color, @COLOR_WHITE_DEFAULT);

.popover-scale-animation() {
  animation-name: ant-popover-scale, ant-popover-opacity;
  animation-duration: 200ms, 100ms;
  animation-timing-function: cubic-bezier(0.57, -0.22, 0, 1.2),
    cubic-bezier(0.35, 0, 0.65, 1);
  animation-fill-mode: forwards;
}

.popover-scale-animation-close() {
  animation-name: ant-popover-scale-close, ant-popover-opacity-close;
  animation-duration: 200ms, 200ms;
  animation-timing-function: cubic-bezier(0.6, 0, 1, 0.6),
    cubic-bezier(0.6, 0, 1, 0.6);
  animation-fill-mode: forwards;
}
