@import (reference) "./variable.less";
@import "../style/mixins/hairline.less";

@dividerPrefix: amd-divider;

.@{dividerPrefix} {
  &-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 16 * @rpx 0;

    &-line {
      border-bottom-width: 2 * @rpx;
      transform: scaleY(.5);
    }

    &-text {
      font-size: 30rpx;
      color: #999;
      margin: 0 32 * @rpx;
    }

    &-left {
      flex: 1;
      border-bottom-width: 2 * @rpx;
      transform: scaleY(.5);
    }

    &-right {
      flex: 1;
      border-bottom-width: 2 * @rpx;
      transform: scaleY(.5);
    }
  }


  &-vertical {
    margin: 0 16 * @rpx;
    width: 2 * @rpx;
    border-right: 2 * @rpx solid #eee;
    transform: scaleX(.5);
  }
}
