@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@rare-words-keyboard-color: var(
  --rare-words-keyboard-color,
  @COLOR_TEXT_PRIMARY
);
@rare-words-bg: var(--rare-words-bg, rgba(0, 0, 0, 0.45));
@rare-words-kb-bg: var(--rare-words-kb-bg, @COLOR_BACKGROUND);
@rare-words-border-color: var(--rare-words-border-color, @COLOR_BORDER);
@rare-words-inner-bg: var(--rare-words-inner-bg, @COLOR_TEXT_WEAK);
@rare-words-active-color: var(--rare-words-active-color, @COLOR_BRAND1);
@rare-words-pinyin-color: var(--rare-words-pinyin-color, @COLOR_BACKGROUND);
@rare-words-pinyin-key-color: var(--rare-words-pinyin-key-color, @COLOR_WHITE);
@rare-words-item-tips-color: var(
  --rare-words-item-tips-color,
  @COLOR_TEXT_SECONDARY
);
@rare-words-keyboard-bg: var(--rare-words-keyboard-bg, #4a4a4a);
