@import (reference) '../../../../variable.less';

@formItemMessagePrefix: fr-form-item-message;

.@{formItemMessagePrefix} {
  margin-top: 14rpx;
  animation: formItemMessageAppear 0.2s ease both;
  color: @form-item-error;
  background: rgba(255, 49, 65, 0.05);
  border: 1rpx solid rgba(255, 49, 65, 0.3);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 400;
  font-size: 28rpx;
  line-height: 40rpx;
  padding: 16rpx 16rpx 16rpx 15rpx;
  border-radius: 16rpx;
  &-icon {
    font-size: 24rpx;
    color: @form-item-error;
    margin-right: 8rpx;
  }
}

@keyframes formItemMessageAppear {
  from {
    height: 0;
    opacity: 0;
    padding: 0 16rpx;
  }
}
