@import (reference) "./variable.less";

@buttonPrefix: amd-button;

.@{buttonPrefix} {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: auto;
  line-height: normal;
  font-size: @font-size-title;
  padding: @button-padding;
  border-radius: @button-corner-radius;
  border: 0 none;
  box-sizing: border-box;
  z-index: 2;
  
  &-padding-default {
    padding: 8px 12px 8px 12px;
  }

  &-padding-large {
    padding: 12px;
  }

  &-padding-small {
    padding: 4px 12px 4px 12px;
  }

  &-primary {
    color: @button-primary-color;
    background-color: @button-primary-background-color;
    box-shadow: inset 0 0 0 @button-border-size @COLOR_BRAND1;
  }

  &-default {
    color: @COLOR_BRAND1;
    background-color: @COLOR_WHITE_CHANGE;
    box-shadow: inset 0 0 0 @button-border-size @COLOR_BRAND1;
  }

  &-text {
    color: @COLOR_BRAND1;
    background-color: transparent;
    box-shadow: none;
  }

  &-primary-danger {
    color: @button-danger-color;
    background-color: @COLOR_RED;
    box-shadow: inset 0 0 0 @button-border-size @COLOR_RED;
  }

  &-default-danger {
    color: @COLOR_RED;
    background-color: @COLOR_WHITE_CHANGE;
    box-shadow: inset 0 0 0 @button-border-size @COLOR_RED;
  }

  &-text-danger {
    color: @COLOR_RED;
    background-color: transparent;
    box-shadow: none;
  }

  &-text-active {
    background-color: fade(@COLOR_WHITE_CHANGE, 92);
  }

  &-active {
    filter: brightness(0.92);
  }

  &-disabled {
    opacity: @button-disabled-opacity;
  }

  // &&-disabled {
  //   height: auto;
  //   opacity: @button-disabled-opacity;
  //   color: @button-color;
  //   background-color: @button-background-color;
  // }

  // &&-default.@{buttonPrefix}-default-none {
  //   background-color: transparent;
  //   box-shadow: none;
  // }

  // &&-primary,
  // &&-primary.@{buttonPrefix}-primary-solid,
  // &&-primary.@{buttonPrefix}-disabled {
  //   color: @button-primary-color;
  //   background-color: @button-primary-background-color;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_BRAND1;
  // }
  // &&-primary,
  // &&-primary.@{buttonPrefix}-primary-outline {
  //   color: @COLOR_BRAND1;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_BRAND1;
  // }
  // &&-primary,
  // &&-primary.@{buttonPrefix}-primary-none {
  //   color: @COLOR_BRAND1;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_WHITE_CHANGE;
  // }
  // &&-primary,
  // &&-primary.@{buttonPrefix}-primary-light {
  //   color: @button-light-color;
  //   background-color: @button-light-background-color;
  //   box-shadow: inset 0 0 0 @button-border-size @button-light-border-color;
  // }

  // &&-danger,
  // &&-danger.@{buttonPrefix}-danger-solid,
  // &&-danger.@{buttonPrefix}-disabled {
  //   color: @button-danger-color;
  //   background-color: @COLOR_RED;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_RED;
  // }
  // &&-danger,
  // &&-danger.@{buttonPrefix}-danger-outline {
  //   color: @COLOR_RED;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_RED;
  // }
  // &&-danger,
  // &&-danger.@{buttonPrefix}-danger-none {
  //   color: @COLOR_RED;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_WHITE_CHANGE;
  // }

  // &&-warn,
  // &&-warn.@{buttonPrefix}-warn-solid,
  // &&-warn.@{buttonPrefix}-disabled {
  //   color: @button-danger-color;
  //   background-color: @COLOR_YELLOW;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_YELLOW;
  // }
  // &&-warn,
  // &&-warn.@{buttonPrefix}-warn-none {
  //   color: @COLOR_YELLOW;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_WHITE_CHANGE;
  // }
  // &&-warn,
  // &&-warn.@{buttonPrefix}-warn-outline {
  //   color: @COLOR_YELLOW;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_YELLOW;
  // }

  // &&-success,
  // &&-success.@{buttonPrefix}-success-solid,
  // &&-success.@{buttonPrefix}-disabled {
  //   color: @button-danger-color;
  //   background-color: @COLOR_GREEN;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_GREEN;
  // }
  // &&-success,
  // &&-success.@{buttonPrefix}-success-none {
  //   color: @COLOR_GREEN;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_WHITE_CHANGE;
  // }
  // &&-success,
  // &&-success.@{buttonPrefix}-success-outline {
  //   color: @COLOR_GREEN;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_GREEN;
  // }

  // &&-light,
  // &&-light.@{buttonPrefix}-light-solid,
  // &&-light.@{buttonPrefix}-disabled {
  //   color: @button-light-color;
  //   background-color: @button-light-background-color;
  //   box-shadow: inset 0 0 0 @button-border-size @button-light-border-color;
  // }
  // &&-light,
  // &&-light.@{buttonPrefix}-light-none {
  //   color: @button-light-color;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @COLOR_WHITE_CHANGE;
  // }
  // &&-light,
  // &&-light.@{buttonPrefix}-light-outline {
  //   color: @button-light-color;
  //   background-color: @COLOR_WHITE_CHANGE;
  //   box-shadow: inset 0 0 0 @button-border-size @button-light-background-color;
  // }

  &-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-content-icon {
    display: flex;
    // justify-content: center;
    // &:empty {
    //   display: none;
    // }
  }

  &-content-loading-container {
    position: relative;
    margin-left: 16 * @rpx;
    min-width: 33px;
    min-height: 33px;
  }

  &-content-loading {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-content-text-margin {
    margin-left: @h-spacing-standard;
  }
  &-content-text {
    &:empty {
      margin-left: 0;
      width: 0;
      opacity: 0;
      &::after {
        content: '\00a0';
      }
    }
  }
  
  &-content-subtext {
    font-size: @button-subtext-size;
    opacity: 0.6;
  }

  &-inline {
    display: inline-block;
    border-radius: @button-inline-corner;

    .@{buttonPrefix}-content-loading-container {
      margin: 0;
    }
    .@{buttonPrefix}-content-loading {
      transform: scale(0.5);
    }
  }
}
