@import (reference) "../style/themes/index.less";

/* size | 按钮内间距 */
@button-padding: @size-3;

/* corner-radius| 按钮圆角 */
@button-corner-radius: @corner-radius-md;

/* font-size | 副标题字号 */
@button-subtext-size: @font-size-subcontent;

/* color | 按钮边框宽度 */
@button-border-size: @border-width-standard;

/* opacity | disable状态不透明度 */
@button-disabled-opacity: @opacity-disabled;

/* color | 默认按钮文字色 */
@button-color: @COLOR_TEXT_PRIMARY;

/* color | 默认按钮背景色 */
@button-background-color: @COLOR_WHITE_CHANGE;

/* color | 默认按钮边框色 */
@button-border-color: @COLOR_BORDER;

/* color |primary按钮背景色 */
@button-primary-background-color: @COLOR_BRAND1;

/* color |primary按钮边框色 */
@button-primary-border-color: @COLOR_BRAND1;

/* color |primary按钮文字色 */
@button-primary-color: @COLOR_WHITE;

/* color |ghost按钮边框色 */
@button-ghost-border-color: @COLOR_BRAND1;

/* color |ghost按钮文字色 */
@button-ghost-color: @COLOR_BRAND1;

/* color |danger按钮背景色 */
@button-danger-background-color: @COLOR_RED;

/* color |danger按钮边框色 */
@button-danger-border-color: @COLOR_RED;

/* color |danger按钮文字色 */
@button-danger-color: @COLOR_WHITE;

/* color |danger-ghost按钮边框色 */
@button-danger-ghost-border-color: @COLOR_RED;

/* color |danger-ghost按钮文字色 */
@button-danger-ghost-color: @COLOR_RED;

/* color |light按钮背景色 */
@button-light-background-color: @COLOR_WATHET;

/* color |light按钮边框色 */
@button-light-border-color: @COLOR_WATHET;

/* color |light按钮文字色 */
@button-light-color: @COLOR_BRAND1;

/* size | 胶囊按钮圆角 */
@button-inline-corner: @corner-radius-md;

/* size | 胶囊按钮水平内间距 */
@button-inline-padding-h: @size-3;

/* size | 胶囊按钮垂直内间距 */
@button-inline-padding-v: @size-1;

/* font-size | 胶囊按钮大字号 */
@button-inline-size-large: @font-size-subtitle;

/* font-size | 胶囊按钮中字号 */
@button-inline-size-medium: @font-size-content;

/* font-size | 胶囊按钮小字号 */
@button-inline-size-small: @font-size-subcontent;

/* 图标尺寸 */
@button-icon-size: 44 * @rpx;
