@import (reference) '../../style/themes/index.less';
@import '../../style/mixins/hairline.less';

@pickerPrefix: ant-range-picker;
.@{pickerPrefix} {
  &-confirm-disabled {
    .ant-picker-header-confirm {
        pointer-events: none;
        opacity: .6;
    }
  }
  &-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104 * @rpx;
    padding: 24 * @rpx 24 * @rpx 0;
    box-sizing: border-box;
    &-item {
      width: 310 * @rpx;
      height: 64 * @rpx;
      padding: 0 16 * @rpx 0 24 * @rpx;
      box-sizing: border-box;
      border-radius: 8 * @rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: inset 0 1 * @rpx 6 * @rpx 0 fade(@COLOR_BLACK_CHANGE,10);
      color: @COLOR_TEXT_PRIMARY;
      &-active {
        .hairline-radius( @COLOR_BRAND1,16*@rpx);
        color: @COLOR_BRAND1;
        .@{pickerPrefix}-selector-item-icon{
            color: @COLOR_BRAND1;
        }
      }
      &-value {
        font-size: 28 * @rpx;
      }
      &-placeholder {
        font-size: 28 * @rpx;
        color: @COLOR_TEXT_WEAK;
      }
      &-icon {
        color: @COLOR_TEXT_WEAK;
        font-size: 32 * @rpx;
      }
    }
    &-split {
      color: @COLOR_TEXT_WEAK;
    }
  }
}