@import (reference) "../style/themes/index.less";

// 头像圆角
@avatar-img-radius: @corner-radius-md;
// 头像大小 80rpx
@avatar-size-x-small: @size-10;
// 头像大小 88rpx
@avatar-size-small: @size-11;
// 头像大小 104rpx
@avatar-size-medium: @size-13;
// 头像大小 120rpx
@avatar-size-large: @size-15;

