@import (reference) '../style/variables.less';
@import (reference) '../style/themes/index.less';

@table-bottom-border-color: var(
  --table-bottom-border-color,
  @COLOR_BORDER_GREYCARD
);

@table-item-color: var(--table-item-color, @COLOR_TEXT_PRIMARY);
@table-item-bg: var(--table-item-bg, @COLOR_CARD);
@table-shadow-color: var(--table-shadow-color, rgba(28, 28, 28, 0.06));
@table-empty-bg: var(--table-empty-bg, @COLOR_CARD);
