@import (reference) "../style/themes/index.less";

// 标准背景
@notice-background-color: @COLOR_GOLDEN_3;
// 标准边框颜色
@notice-border-color: @COLOR_GOLDEN_2;
// 标准字体颜色
@notice-color: @COLOR_TANGERINE_1;
// 标准字体大小
@notice-font-size: @font-size-subtitle;

// error 边框颜色
@notice-error-border-color: @COLOR_GOLDEN_2;
// error 字体颜色
@notice-error-color: @COLOR_WHITE;
// error 背景
@notice-error-background-color: @COLOR_RED;

// primary 边框颜色
@notice-primary-border-color: tint(@COLOR_BRAND1, 72%);
// primary 字体颜色
@notice-primary-color: @COLOR_BRAND1;
// primary 背景
@notice-primary-background-color: tint(@COLOR_BRAND1, 80%);
