@import (reference) "../style/themes/index.less";

// 标准背景
@notice-background-color: @COLOR_GOLDEN_3; 
// 标准边框颜色
@notice-border-color: @COLOR_GOLDEN_2;
// 标准字体颜色
@notice-color: COLOR_TANGERINE_1;
// 标准字体大小
@notice-font-size: @font-size-subtitle;

// error 边框颜色
@notice-error-border-color: @COLOR_GOLDEN_2;
// error 字体颜色
@notice-error-color: @COLOR_TEXT_BASE;
// error 背景
@notice-error-background-color: @COLOR_FILL_WARNING;

// primary 边框颜色
@notice-primary-border-color: #bed9ff; // tint(@color-fill-primary, 72%)
// primary 字体颜色
@notice-primary-color: #1677ff;
// primary 背景
@notice-primary-background-color: #d0e4ff; // tint(@color-fill-primary, 80%);

@notice-info-border-color: #999;
@notice-error-border-color: #D9281E;
@notice-info-fill-color: #ABABAB;

