@import (reference) "./variable.less";

@treeSelectPrefix: amd-tree-select;

.@{treeSelectPrefix} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: @color-divider-line;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;

  &-level {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    position: relative;

    &-0 {
      background-color: @color-divider-background;
    }

    &-1 {
      background-color: @tree-select-background-color-gray-middle;
    }

    &-2 {
      background-color: @color-fill-grey-inverse;
    }

    &-item {
      position: relative;
      width: 100%;
      height: 101 * @rpx;
      line-height: 101 * @rpx;
      color: @color-text-title;
      font-size: @font-size-content;

      &-selected {
        position: relative;
        width: 100%;
        height: 101 * @rpx;
        line-height: 101 * @rpx;
        font-size: @font-size-content;
        background-color: @color-fill-grey-inverse;
        color: @color-fill-primary;
      }

      &-disabled {
        position: relative;
        width: 100%;
        height: 101 * @rpx;
        line-height: 101 * @rpx;
        font-size: @font-size-content;
        color: @color-text-title;
        opacity: @opacity-disabled;
      }

      &-text {
        position: absolute;
        left: @h-spacing-large;
      }

      &-flag {
        position: absolute;
        width: 4 * @rpx;
        height: 37 * @rpx;
        top: 32 * @rpx;
        left: 4 * @rpx;
        background-color: @color-fill-primary;
        border-radius: @corner-radius-sm;
      }
    }
  }

  &-two-level-second {
    flex: 2;
  }
}
